<!DOCTYPE html>
<html layout:decorate="layouts/default">
<head>
    <title>Admin page</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="container">


        <div class="col-md-12">

            <div class="box" id="text-page">
                <a href="#" onclick="history.back()">Back</a>
                <div th:if="${errMsg}" th:insert="layouts/fragments :: alert(type= 'danger', message = ${errMsg})" th:remove="tag"></div>
                <h3>Add product</h3>
                <form action="#" th:action="@{'/admin/addProduct?'+${_csrf.parameterName}+'='+${_csrf.token}}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <div class="form-group"  th:classappend="${#fields.hasErrors('title')}? has-error">
                        <label  th:for="${#ids.next('title')}" th:text="Title">Title</label>
                        <input type="text" th:field="*{title}"  class="form-control" placeholder="Title" />
                        <small class="text-danger" th:errors="*{title}">Title</small>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('productCode')}? has-error">
                        <label th:for="${#ids.next('productCode')}">Product code</label>
                        <input type="text" th:field="*{productCode}"  class="form-control" placeholder="product code" />
                        <small class="text-danger" th:errors="*{productCode}">Product</small>

                    </div>
                    <div class="form-group"  th:classappend="${#fields.hasErrors('price')}? has-error">
                        <label th:for="${#ids.next('price')}" th:text="Price">Price</label>
                        <input type="text" th:field="*{price}"  class="form-control" placeholder="price" />
                        <small class="text-danger" th:errors="*{price}"></small>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" th:field="*{onSpecialOffer}"/> On Sale
                        </label>
                    </div>
                    <div class="form-group">
                        <label th:text="Category">Category</label>
                        <select th:field="*{category}" class="form-control">
                        <option th:each="cat : ${catList}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">Category</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Featured image</label><br>
                        <input type="file" name="featured[]" id="featuredUpload"/><br/><br/>
                    </div>

                    <div class="form-group">
                        <label>Gallery images</label><br>
                        <input id="galleryUpload" type="file" name="files[]"/>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-default" href="/admin" role="button">Cancel</a>
                </form>

            </div>


        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.container -->
</div>
</body>
</html>