<!DOCTYPE html>
<html layout:decorate="layouts/default">
<head>
    <title>Admin page</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="container">


        <div class="col-md-12">

            <div class="box" id="text-page">
                <div th:if="${errMsg}" th:insert="layouts/fragments :: alert(type= 'danger', message = ${errMsg})" th:remove="tag"></div>
                <h3>Add product</h3>
                <form action="#" th:action="@{/admin/addProduct}" th:object="${product}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label th:for="${#ids.next('title')}" th:text="Title">Title</label>
                        <input type="text" th:field="*{title}"  class="form-control" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label th:for="${#ids.next('productCode')}">Product code</label>
                        <input type="text" th:field="*{productCode}"  class="form-control" placeholder="product code" />
                    </div>
                    <div class="form-group">
                        <label th:for="${#ids.next('price')}" th:text="Price">Price</label>
                        <input type="text" th:field="*{price}"  class="form-control" placeholder="price" />
                    </div>
                    <div class="form-group">
                        <label th:text="Category">Category</label>
                        <select th:field="*{category}" class="form-control">
                        <option th:each="cat : ${catList}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">Category</option>
                    </select>
                    </div>
                    <div class="form-group">
                        <label>Featured image</label>
                        <input type="file" name="featured" /><br/><br/>
                        <label>Gallery images</label>
                        <input type="file" name="image" />
                        <input type="file" name="image" />
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>


        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.container -->
</div>
</body>
</html>