<!DOCTYPE html>
<html layout:decorate="layouts/default">
<head>
    <title>Category page</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="container">

        <div class="col-md-12">

            <ul class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li th:text="${category.name}">Ladies</li>
            </ul>

            <div class="box">
                <h1 th:text="${category.name}">Ladies</h1>
                <p th:text="${category.description}">In our Ladies department we offer wide selection of the best
                    products we have found and carefully selected worldwide.</p>
            </div>

            <div class="box info-bar">
                <div class="row">
                    <div class="col-sm-12 col-md-4 products-showing">
                        Showing
                        <strong th:if="${pagedListHolder.getNrOfElements()} < ${pagedListHolder.getPageSize()}">[[${pagedListHolder.getNrOfElements()}]]</strong>
                        <strong th:if="${pagedListHolder.getNrOfElements()} > ${pagedListHolder.getPageSize()}">[[${pagedListHolder.getPage()+1}*${pagedListHolder.getPageSize()}]]</strong>
                        of <strong>[[${pagedListHolder.getNrOfElements()}]]</strong>
                        products
                    </div>

                    <!--<div class="col-sm-12 col-md-8  products-number-sort">-->
                    <!--<div class="row">-->
                    <!--<form class="form-inline">-->
                    <!--<div class="col-md-6 col-sm-6">-->
                    <!--<div class="products-number">-->
                    <!--<strong>Show</strong>  <a href="#" class="btn btn-default btn-sm btn-primary">12</a>  <a href="#" class="btn btn-default btn-sm">24</a>  <a href="#" class="btn btn-default btn-sm">All</a> products-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col-md-6 col-sm-6">-->
                    <!--<div class="products-sort-by">-->
                    <!--<strong>Sort by</strong>-->
                    <!--<select name="sort-by" class="form-control">-->
                    <!--<option>Price</option>-->
                    <!--<option>Name</option>-->
                    <!--<option>Sales first</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>

            <div class="row products" ng-app="cartApp" ng-controller="cartCtrl">
                <div class="col-md-3 col-sm-4" th:each="product : ${pagedListHolder.getPageList()} "
                     th:insert="layouts/fragments :: item"></div>
            </div>
            <!-- /.products -->

            <div class="pages">

                <ul class="pagination" th:unless="${#lists.isEmpty(pagedListHolder.getPageList())}">
                    <li th:unless="${pagedListHolder.isFirstPage()}"><a
                            th:href="@{|/products/${categorySlug}/page/${pagedListHolder.getPage()}|}">&laquo;</a></li>

                    <div th:remove="tag" th:each="i : ${#numbers.sequence( 1, actualPageSize)}">
                        <li th:classappend="${pagedListHolder.getPage()} eq ${i-1}?'active':''"><a th:href="@{@{|/products/${categorySlug}/page/${i}|}}" th:text="${i}">1</a></li>
                    </div>
                    <li th:unless="${pagedListHolder.isLastPage()}"><a
                            th:href="@{|/products/${categorySlug}/page/${pagedListHolder.getPage()+2}|}">&raquo;</a></li>
                </ul>
            </div>


        </div>
        <!-- /.col-md-9 -->

    </div>
</div>
</body>
</html>