<!DOCTYPE html>
<html layout:decorate="layouts/default">
<head>
    <title>Home page</title>
</head>
<body>
    <div id="content" layout:fragment="content">

    <div class="container">
        <div th:if="${emptyCart}" th:insert="layouts/fragments :: alert(type= 'warning', message = ${emptyCart})" th:remove="tag"></div>
        <div th:if="${sucMsg}" th:insert="layouts/fragments :: alert(type= 'success', message = ${sucMsg})" th:remove="tag"></div>

        <div class="col-md-12">
            <div id="main-slider">
                <div class="item">
                    <img th:src="@{/resources/img/slider/main-slider1.jpg}" alt="" class="img-responsive"/>
                </div>
            </div>
            <!-- /#main-slider -->
        </div>
    </div>

    <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
    <div id="advantages">

        <div class="container">
            <div class="same-height-row">
                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-heart"></i>
                        </div>

                        <h3><a href="#">We love our customers</a></h3>
                        <p>We are known to provide best possible service ever</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-tags"></i>
                        </div>

                        <h3><a href="#">Best prices</a></h3>
                        <p>You can check that the height of the boxes adjust when longer text like this one is used
                            in one of them.</p>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="box same-height clickable">
                        <div class="icon"><i class="fa fa-thumbs-up"></i>
                        </div>

                        <h3><a href="#">100% satisfaction guaranteed</a></h3>
                        <p>Free returns on everything for 3 months.</p>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>
    <!-- /#advantages -->

    <!-- *** ADVANTAGES END *** -->

    <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
    <div id="hot">
        <div class="box">
            <div class="container">
                <div class="col-md-12">
                    <h2>Hot this week</h2>
                </div>
            </div>
        </div>

        <div class="container" th:if="${!prodList.empty}" ng-app="cartApp" ng-controller="cartCtrl">
            <div class="product-slider">
                <div class="item" th:each="product : ${prodList}" th:insert="layouts/fragments :: item"></div>
            </div>
            <!-- /.product-slider -->
        </div>
        <!-- /.container -->

    </div>
    <!-- /#hot -->

    <!-- *** HOT END *** -->


</div>
</body>
</html>