<!DOCTYPE html>
<html layout:decorate="layouts/default">
<head>
    <title>Admin page</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="container">

        <div class="col-md-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
                <li>Text page</li>
            </ul>
        </div>

        <div class="col-md-12">

            <div class="box" id="text-page">
                <div th:if="${sucMsg}" th:insert="layouts/fragments :: alert(type= 'success', message = ${sucMsg})" th:remove="tag"></div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Created on</th>
                            <th>Total</th>
                            <th>User</th>
                            <th>Delivery</th>
                            <th>Payment</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${orders}">
                            <td ><strong th:text="'# '+${order.id}"></strong></td>
                            <td th:text="${order.createdOn}"></td>
                            <td th:text="|$${order.totalPrice}|"></td>
                            <td th:text="${order.user.username}"></td>
                            <td th:text="${order.delivery}"></td>
                            <td th:text="${order.payment}"></td>
                            <td><span class="label "
                                      th:classappend="'label-'+${#strings.toLowerCase(order.status)}"
                                      th:text="${order.status}">>Being prepared</span></td>
                            <td><a th:href="@{'/admin/orders/'+${order.id}}" class="btn btn-primary btn-sm">View</a>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
        <!-- /.col-md-12 -->
    </div>
    <!-- /.container -->
</div>
</body>
</html>